[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
vk = "*"
psycopg2 = "*"
texttable = "*"
asyncio = "*"
aiohttp = "*"
flask = "*"
cryptography = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
