[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "==0.6.0"
aiohttp = "==3.7.4.post0"
aiohttp-socks = "==0.6.0"
aiovk = "==4.0.0"
async-timeout = "==3.0.1"
asyncio = "==3.4.3"
attrs = "==20.3.0"
blinker = "==1.4"
certifi = "==2020.12.5"
cffi = "==1.14.5"
chardet = "==4.0.0"
click = "==7.1.2"
colorama = "==0.4.4"
cryptography = "==3.4.6"
dhooks = "==1.1.4"
discord = "==1.0.1"
discord-ext-ipc = "==2.0.0"
"discord.py" = "==1.7.1"
h11 = "==0.12.0"
h2 = "==4.0.0"
hpack = "==4.0.0"
hyperframe = "==6.0.1"
idna = "==2.10"
itsdangerous = "==1.1.0"
multidict = "==5.1.0"
priority = "==1.3.0"
psycopg2 = "==2.8.6"
pycparser = "==2.20"
python-socks = "==1.2.4"
requests = "==2.25.1"
six = "==1.15.0"
texttable = "==1.6.3"
toml = "==0.10.2"
typing-extensions = "==3.7.4.3"
urllib3 = "==1.26.4"
wsproto = "==1.0.0"
yarl = "==1.6.3"
Hypercorn = "==0.11.2"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
Quart = "==0.14.1"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.9"
